{{define "Home"}}
{{template "headbroad"}}

    <a name="" id="" class="btn btn-primary" href="/Create" role="button">Add employee</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Fabian Escobedo</td>
                    <td>200247utags.edu.mx</td>
                    <td> Editar | Borrar </td>
                </tr>
            </tbody>
        </table>    
{{template "footer"}}
{{end}}