{{define "Home"}}
{{template "headbroad"}}

    <a name="" id="" class="btn btn-primary" href="/Create" role="button">Add employee</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            {{range.}}
                <tr>
                    <td> {{.Id}} </td>
                    <td> Fabian Escobedo {{.Name}} </td>
                    <td> 200247utags.edu.mx {{.Email}} </td>
                    <td> Editar {{.Id}} | 
                    
                    <a name="" id="" class="btn btn-danger" href="/delete?id={{.Id}}" role="button">Delete</a>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>

{{template "footer"}}
{{end}}